<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hotel</display-name>
  <servlet>
    <servlet-name>FoodTypeServlet</servlet-name>
    <servlet-class>servlet.FoodTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoodDetailServlet</servlet-name>
    <servlet-class>servlet.FoodDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>servlet.FoodServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>FoodTypeServlet</servlet-name>
    <url-pattern>/foodType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodDetailServlet</servlet-name>
    <url-pattern>/foodDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/food</url-pattern>
  </servlet-mapping>
<!-- 默认首页是列表展示servlet，不需要加/ 
/代表从当前项目找
-->
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
</web-app>